.item-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.individual-item {
    display: flex;
    flex-direction: row;
    gap: 10px
}

.input-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.edit-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
}